@import "tailwindcss";
@plugin "daisyui";

@tailwind utilities;

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: brightness(0.4);
    z-index: -1;
    transition: all 0.8s ease-in-out;
}
